body {
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: rgb(189, 0, 206);
    padding: 30px;
}


.link-header {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

.link-header:hover {
    border-bottom: 2px solid black;
    transition: 1s;
    color: black;
}

.nav_a_best {
    display: flex;
    justify-content: center;
}

.link-nav {
    padding: 10px;
    text-decoration: none;
}

.link-nav:hover {
    color: black;
    transition: 1s;
}

.main-div {
    text-align: center;
}

footer {
    padding: 10px;
    background-color: rgba(189, 0, 206);
}

footer img {
    margin-left: 40px;
}
